# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
*.venv/
.venv/
pipenv/

# IDEs / Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local development settings
*.env
!.env.example
.cursorignore
# Miscellaneous
*.pyc
*.bak
.DS_Store
log.txt
*.log